body{
    background-image: url('./images/front.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.start{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 20px;
}
.top{
    height: 100px;
    width: 500px;
    border-radius: 30px;
    margin-top: 5px;
}
